/*
	-----------------
	CSS DE SITIO DE VIDEOJUEGOS
	v1.1
	AUTHOR: WIL BUNGE
	-----------------
	1. LAYOUT
	2. LISTADO
	3. JUEGO
	-----------------
*/


/* 1. LAYOUT */


.clearfix:after{
	content: '';
	display: block;
	clear: both;
}


.submenu{ display: inline-block; position: relative; }
.submenu:hover ul{ display: block; }
.submenu ul{ position: absolute; background-color: red; display: none; }


.fondo-2{
	background-color: black;
	color: white;
}



.img-1{
	float: right;
	margin-left: 20px;
	width:45%;
}

.flotar-izq{
	float: left;
}

#logo{
	/*position: fixed;*/
	width: 100%;

	left:0px;
	top:0px;
	display: block;
	z-index: 999;
	border-bottom: 1px solid #eee;

	background-image: url(../logo-h.svg);
	background-repeat: no-repeat;
	background-position: center;
	/*width:200px;*/
	height: 70px;
	margin: auto;

	/*box-shadow: 0px 0px 20px rgba(0,0,0,.5);*/

	color: red;
	color: #345423;
	/*color:rgba(255,255,122,);*/
}

table{

	border:0;
	border-spacing: 0px;
}

table th{ text-align: left; }

table td,
table th{
	padding:5px 10px;
	border:1px solid #ccc;
}

nav{

	background-color: #eee;
	padding: 0 10px;
	text-align: center;
}

nav a{
	/*color: yellow;*/
	text-decoration: none;
	margin:0 10px;
	color: #333;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

nav a.selected{
	border-bottom: 2px solid black;
}


body{
	font-family: Arial;
	/*background-image: url(imagenes/google.jpg);*/
	background-attachment: fixed;
}

h1{
	text-align: center;
	/*font-size: 100px;
	color:blue;
	background-color: #000000;
	border:10px solid red;
	text-align: center;*/
}	







/* 2. LISTADO DE JUEGOS */

.paginador{ margin-top: 30px; font-size: 15px; font-weight: bold; text-align: center; }

.grilla{  }

.grilla:after{
	content: '';
	display: block;
	clear: both;
}

.grilla article figure img{ width: 100%; min-width: 100px; }
.grilla article figure img:before{ content: 'GAMERZ.com'; display: block; position: relative; }

.grilla article{

	width: 25%;
	float: left;

}

.grilla.col-2 article{
	width: 50%;
	font-size: 30px;
}

.grilla.col-2 article:nth-child(2n+3){
	clear: left;
}




.grilla.col-3 article{
	width: 33%;
}

.grilla.col-3 article:nth-child(3n+4){
	background-color: yellow;
	clear: left;
}

.grilla.col-4 article{

	width: 25%;

}


.grilla.col-4 article:nth-child(4n+5){
	background-color: pink;
	clear: left;
}

.grilla.col-4 article:nth-child(n+9){
	display: none;
}

/*.grilla article:nth-child(4n+1){
	clear:left;
	background-color: red;
}*/


/*.grilla article:nth-child(2n+1){
	background-color: #eee;
}*/


.grilla article figure img{ width: 100%; opacity: .8; }

.grilla article img.platform{ width: 100px; opacity: .5; }


.slider .slide{ display: none; }

/*  */




/* 3. JUEGO */

section.juego figure{

	float:right;

}

section.juego figure img{
	max-height: 200px;
}

section.juego form.comprar{
	margin-top: 20px;
}

section.juego form.comprar .boton{
	font-size: 20px;
}

section.juego form.comprar input[name=cantidad]{

	font-size: 20px;
	height: 16px;
	width: 40px;
	padding:5px 10px;

}

section.juego form.comprar label{

}

section.juego .agregar-carrito{



}




form#buscador{
	display: inline-block;
}



/*  */


/*

	BREAKPOINT 1 (mobile) < 600px
	BREAKPOINT 2 (tablet) < 1000px
	BREAKPOINT 3 (desktop) > 1000px

 */


/* DESKTOP */
@media only screen and (min-width: 1001px) {

	body{

		margin: 100px;
		background-color: pink;

	}


	nav a.hamburguesa{ display: none; }

	nav ul li{ display: inline-block; list-style-type: none; }


	.grilla article{

		width: 25%;

	}


	.grilla article:nth-child(4n+5){
		background-color: pink;
		clear: left;
	}

	.grilla article:nth-child(n+9){
		display: none;
	}

}

/* TABLET */
@media only screen and (min-width: 601px) and (max-width: 1000px) {

	
	body{

		margin: 50px;
		background-color: red;

	}


	nav ul li{
		display: none;
	}

	nav.on ul li{ display: block; }




	.grilla article{
		width: 33%;
	}

	.grilla article:nth-child(3n+4){
		background-color: yellow;
		clear: left;
	}

}

/* MOBILE */
@media only screen and (max-width: 600px) {

	
	body{
		margin: 100px 20px;
		background-color: yellow;

	}


	nav ul li{
		display: none;
	}

	nav.on ul li{ display: block; }





	.grilla article{

		width: 25%;
		float: left;

	}

	.grilla article{
		width: 50%;
		font-size: 30px;
	}

	.grilla article:nth-child(2n+3){
		clear: left;
	}


	section.juego figure{
		float: none;
		width: calc(100% + 40px);
    	margin: 0;
    	margin-left: -20px;
    	margin-bottom: 20px;
	}

	section.juego figure img{
		width: 100%;
		height: auto;
		max-height: 100%!important;
	}




	section.juego form.comprar input[name=cantidad]{

		width: calc(100% - 22px);

	}

	section.juego form.comprar button{

		width: 100%;
		margin: 10px 0;

	}

	section.comentarios textarea,
	section.comentarios input{
		width: 100%;

	}



}
